#envelope {
  position: relative;
  width: 380px;
  height: 280px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  top: 150px;
  background-color: black;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.names {
  color: #999;
  transform: translate(-160px, 100px);
  width: 200px;
  font-family: "Playwrite NZ", cursive;
  font-size: 18px;
}

.seal {
  background: rgba(102, 0, 0, 0);
  width: 70px;
  height: 70px;
  border-radius: 35px;
  transform: translate(-35px, -40px);
  background-image: url("https://media.discordapp.net/attachments/264406055478362112/1521970381328482436/selo.png?ex=6a46c4df&is=6a45735f&hm=6954458292d5e4079f3540465ccfdcf4c082204c52e3460f2359f1f5bcd88332&=&format=webp&quality=lossless");
  background-repeat: no-repeat;
  background-size: contain;
}

.open .seal {
  background: rgba(102, 0, 0, 0);
  transition: background 0.8s;
}

.front {
  position: absolute;
  width: 0;
  height: 0;
  z-index: 3;
}

.flap {
  border-left: 190px solid transparent;
  border-right: 190px solid transparent;
  border-bottom: 132px solid transparent; /* a little smaller */
  border-top: 148px solid black; /* a little larger */
  transform-origin: top;
  pointer-events: none;
}

.pocket {
  border-left: 190px solid #333;
  border-right: 190px solid #333;
  border-bottom: 140px solid rgb(43.35, 43.35, 43.35);
  border-top: 140px solid transparent;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.letter {
  position: relative;
  background-color: #fff;
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  height: 90%;
  top: 5%;
  border-radius: 6px;
  box-shadow: 0 2px 26px rgba(0, 0, 0, 0.12);
}

.letter:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.words {
  position: absolute;
  left: 10%;
  width: 80%;
  height: 14%;
  background-color: #EEEFF0;
}

.words.line1 {
  top: 15%;
  width: 20%;
  height: 7%;
}

.words.line2 {
  top: 30%;
}

.words.line3 {
  top: 50%;
}

.words.line4 {
  top: 70%;
}

.open .flap {
  transform: rotateX(180deg);
  transition: transform 0.4s ease, z-index 0.1s;
  z-index: 1;
}

.close .flap {
  transform: rotateX(0deg);
  transition: transform 0.4s 0.6s ease, z-index 1s;
  z-index: 5;
}

.close .letter {
  transform: translateY(0px);
  transition: transform 0.4s ease, z-index 1s;
  z-index: 1;
}

.open .letter {
  animation: goAndBack 1s ease alternate 2;
  transition: transform 0.4s 0.6s ease, z-index 3s;
  z-index: 3;
}

@keyframes goAndBack {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-280px);
  }
}
.hearts {
  position: absolute;
  top: 140px;
  left: 0;
  right: 0;
  z-index: 2;
}

.heart {
  position: absolute;
  bottom: 0;
  right: 10%;
  pointer-events: none;
  /*background-image: url("https://cdn.creazilla.com/icons/3207677/bat-icon-lg.png");
  background-repeat: no-repeat;
  background-size: contain;*/
}

.heart:before,
.heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: #660000;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  pointer-events: none;
}

.heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.close .heart {
  opacity: 0;
  animation: none;
}

.a1 {
  left: 20%;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 1;
  -webkit-animation: slideUp 4s linear 1, sideSway 2s ease-in-out 4 alternate;
  -moz-animation: slideUp 4s linear 1, sideSway 2s ease-in-out 4 alternate;
  animation-fill-mode: forwards;
  animation-delay: 0.7s;
}

.a2 {
  left: 55%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-animation: slideUp 5s linear 1, sideSway 4s ease-in-out 2 alternate;
  -moz-animation: slideUp 5s linear 1, sideSway 4s ease-in-out 2 alternate;
  animation-fill-mode: forwards;
  animation-delay: 0.7s;
}

.a3 {
  left: 10%;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 1;
  -webkit-animation: slideUp 7s linear 1, sideSway 2s ease-in-out 6 alternate;
  -moz-animation: slideUp 7s linear 1, sideSway 2s ease-in-out 6 alternate;
  animation-fill-mode: forwards;
  animation-delay: 0.7s;
}

@-webkit-keyframes slideUp {
  0% {
    top: 0;
  }
  100% {
    top: -600px;
  }
}
@keyframes slideUp {
  0% {
    top: 0;
  }
  100% {
    top: -600px;
  }
}
@-webkit-keyframes sideSway {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}
@keyframes sideSway {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}
body {
  background-color: rgb(173.4, 173.4, 173.4);
}

.envlope-wrapper {
  height: 480px;
}

.reset {
  text-align: center;
}

.reset button {
  font-weight: 800;
  font-style: normal;
  transition: all 0.1s linear;
  -webkit-appearance: none;
  background-color: transparent;
  border: solid 2px #333;
  border-radius: 4px;
  color: #333;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  margin: 5px;
  padding: 10px;
  line-height: 1em;
  text-decoration: none;
  min-width: 120px;
  cursor: pointer;
}

.reset button:hover {
  background-color: #333;
  color: #fff;
}

/*# sourceMappingURL=main.css.map */
